/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color4;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default:hover {
    background-color: $color5;
  }
  
  .error:hover {
    background-color:$color6;
  }
  
  .info:hover{
    background-color: #927bc1;
  }
  
  .success:hover {
    background-color: #63cc82;
  }
  
  .warning:hover{
    background-color: #fd7856;
  }